* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

body {
    background-color: rgb(183, 127, 235);
}

main {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 5px;
    width: 900px;
}

a {
    color: rgb(74, 14, 129);

}

img {
    width: 100px;
}

img.meio {
    width: 100px;
    float: right;
}